:root {
  --cor-fundo: #ebebeb;
  --cor-card: #e0e0e0;
  --cor-input: #f2f2f2;
  --cor-texto: #1a1a1a;
  --cor-texto-suave: #666666;
  --cor-borda: #cccccc;
  --cor-botao: #556B2F;
  --cor-botao-hover: #6B8E23;
  --cor-botao-texto: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: var(--cor-fundo);
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topbar {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
  margin-bottom: 20px;
}

.logo {
  font-size: 1.6em;
  font-weight: bold;
}
.logo img {
  height: 100px;
  object-fit: contain;
}

h1 {
  font-size: 2em;
  margin-bottom: 5px;
}

p {
  margin-bottom: 25px;
  color: var(--cor-texto-suave);
}

.cart-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  background: var(--cor-card);
  border: 1px solid var(--cor-borda);
  border-radius: 15px;
  padding: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.product-img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}

.info {
  flex: 1;
}

.info h2 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.item-price {
  font-weight: bold;
  margin-bottom: 10px;
}


.qty-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-btn {
  background: var(--cor-botao);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
}

.qty-btn:hover {
  background: var(--cor-botao-hover);
}

.qty-box input {
  width: 55px;
  padding: 6px;
  text-align: center;
  border: 1px solid var(--cor-borda);
  border-radius: 8px;
  background: var(--cor-input);
}

.remove-btn {
  background: #cc3333;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.remove-btn:hover {
  background: #e64545;
}

.summary {
  width: 100%;
  max-width: 800px;
  background: var(--cor-card);
  border: 1px solid var(--cor-borda);
  border-radius: 15px;
  padding: 20px;
  margin-top: 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.summary h3 {
  margin-bottom: 15px;
  font-size: 1.3em;
}

.line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: var(--cor-texto);
}

.total {
  font-weight: bold;
  font-size: 1.1em;
}

.finish-btn {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  background: var(--cor-botao);
  color: var(--cor-botao-texto);
  border: none;
  border-radius: 12px;
  font-size: 1.1em;
  cursor: pointer;
  font-weight: bold;
}

.finish-btn:hover {
  background: var(--cor-botao-hover);
}

@media (max-width: 600px) {
  .cart-item {
    flex-direction: column;
    text-align: center;
  }

  .product-img {
    width: 100%;
  }

  .qty-box {
    justify-content: center;
  }
}
